In [3]:
#數據常用篩選方法
#直接引用
#loc iloc
import pandas as pd
import os 
import numpy as np

In [4]:
os.chdir(r'/Users/wangxiang/Desktop/')

In [5]:
os.chdir(r'/Users/wangxiang/Desktop')

In [6]:
df = pd.read_excel('Student_Information.xls',encoding='utf-8')

In [7]:
df

        年级      班级                 姓名   入学年        学号 性别
0       高三  高17级1班             阮琦Rita  2016  16110276  女
1       高三  高17级1班           郭悦淇Linda  2016  16110230  女
2       高三  高17级1班          王一尘Robert  2016  16110200  男
3       高三  高17级1班            潘柏羽Panl  2017  16110156  男
4       高三  高17级1班           马一菲Alisa  2017  16110251  女
5       高三  高17级1班            王茗艳Mary  2016  16110223  女
6       高三  高17级1班            杨小佳Gina  2016  16110157  女
7       高三  高17级1班           徐梁轩Allen  2016  16110193  男
8       高三  高17级1班           胡骏龙Peter  2016  16110135  男
9       高三  高17级1班         崔子杰Charlie  2017  16110272  男
10      高三  高17级1班             潘孟骐Sam  2017  16110165  男
11      高三  高17级1班            惠俊皓Tony  2016  16110154  男
12      高三  高17级1班     丁羽晨 Dylan Ding  2016  16110116  男
13      高三  高17级1班           梁言Rachel  2016  16110147  女
14      高三  高17级1班            李欣艺Iris  2016  16110207  女
15      高三  高17级1班         江雪鲲 Arnold  2016  16110149  男
16      高三  高17级1班          任之杰 Tiger  2016  16110220  男
17      高三  高17级1班            薛博鸿Bill  2016  16110181  男
18      高三  高17级1班           唐一鸣Ethel  2017  16110282  女
19      高三  高17级1班          吴弼潭Victor  2016  16110275  男
20      高三  高17级1班          陈雪阳Sharon  2017  16110283  女
21      高三  高17级1班           金子越Felix  2017  16110136  男
22      高三  高17级1班          王遥 Angela  2017  16110141  女
23      高三  高17级1班             于道阳Rex  2017  16110203  男
24      高三  高17级1班          邓铭章Damien  2017  16110124  男
25      高三  高17级2班            李自航Mike  2016  16110173  男
26      高三  高17级2班           杨知新shine  2016  16110219  男
27      高三  高17级2班            徐薇娜Mina  2016  16110184  女
28      高三  高17级2班             刘正源Ray  2018  16110479  男
29      高三  高17级2班            段维真Judt  2017  16110182  女
..     ...     ...                ...   ...       ... ..
529  四年制高一  高18级1班           赵欣然-Jill  2016  16070126  女
530  四年制高一  高18级1班            杨景森-Sam  2016  16070224  男
531  四年制高一  高18级1班          张泽曦-Jason  2016  16070184  男
532  四年制高一  高18级1班           洪亮-Jerry  2016  16070260  男
533  四年制高一  高18级1班          刘家萁-Cindy  2016  16070137  女
534  四年制高一  高18级1班            王珏-Rich  2016  16070162  男
535  四年制高一  高18级1班          刘瀚文-Chris  2016  16070233  男
536  四年制高一  高18级1班       贾墨川-Alex Jia  2016  16070150  男
537  四年制高一  高18级1班         邢瑞祺-Rachel  2016  16070267  女
538  四年制高一  高18级2班           张雅涵Cathy  2018  18110257  女
539  四年制高一  高18级2班            朱淼Wendy  2018  18110247  女
540  四年制高一  高18级2班         高元熙  Angel  2018  18110243  女
541  四年制高一  高18级2班          董泽宇Gluten  2018  18110256  男
542  四年制高一  高18级2班         程兆煜Charlie  2018  18110259  男
543  四年制高一  高18级2班  张简之Jiangzhi Zhang  2018  18110246  男
544  四年制高一  高18级2班            蒋京涛Evan  2018  18110242  男
545  四年制高一  高18级2班          唐恺辰 Kevin  2018  18110258  男
546  四年制高一  高18级2班          赵毓子Spring  2018  18110261  女
547  四年制高一  高18级2班           王恺Steven  2018  18110250  男
548  四年制高一  高18级2班            孙雨涵Anna  2018  18110249  女
549  四年制高一  高18级2班         王嘉琪Allison  2018  18110244  女
550  四年制高一  高18级2班           于艺童Jenny  2018  18110248  女
551  四年制高一  高18级2班             董泓坤Jim  2018  18110262  男
552  四年制高一  高18级2班           姜紫珩Jacob  2018  18110252  男
553  四年制高一  高18级2班           方晗语Milly  2018  18110245  女
554  四年制高一  高18级2班         汤懿萱Tiffany  2018  18110251  女
555  四年制高一  高18级2班           耿嘉悦Susan  2018  18110253  女
556  四年制高一  高18级2班           戴乐萱Linda  2018  18110254  女
557  四年制高一  高18级2班          陈希林 Bruce  2018  18110260  男
558  四年制高一  高18级2班             陈天烨Eli  2018  18110255  男

[559 rows x 6 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
年级     559 non-null object
班级     559 non-null object
姓名     559 non-null object
入学年    559 non-null int64
学号     559 non-null int64
性别     559 non-null object
dtypes: int64(2), object(4)
memory usage: 26.3+ KB

In [9]:
df.columns

Index(['年级', '班级', '姓名', '入学年', '学号', '性别'], dtype='object')

In [10]:
df['年级']

0         高三
1         高三
2         高三
3         高三
4         高三
5         高三
6         高三
7         高三
8         高三
9         高三
10        高三
11        高三
12        高三
13        高三
14        高三
15        高三
16        高三
17        高三
18        高三
19        高三
20        高三
21        高三
22        高三
23        高三
24        高三
25        高三
26        高三
27        高三
28        高三
29        高三
       ...
529    四年制高一
530    四年制高一
531    四年制高一
532    四年制高一
533    四年制高一
534    四年制高一
535    四年制高一
536    四年制高一
537    四年制高一
538    四年制高一
539    四年制高一
540    四年制高一
541    四年制高一
542    四年制高一
543    四年制高一
544    四年制高一
545    四年制高一
546    四年制高一
547    四年制高一
548    四年制高一
549    四年制高一
550    四年制高一
551    四年制高一
552    四年制高一
553    四年制高一
554    四年制高一
555    四年制高一
556    四年制高一
557    四年制高一
558    四年制高一
Name: 年级, Length: 559, dtype: object

In [11]:
df[['班级', '姓名']].head(5)

       班级         姓名
0  高17级1班     阮琦Rita
1  高17级1班   郭悦淇Linda
2  高17级1班  王一尘Robert
3  高17级1班    潘柏羽Panl
4  高17级1班   马一菲Alisa

In [12]:
df[['班级', '姓名']][0:5]

       班级         姓名
0  高17级1班     阮琦Rita
1  高17级1班   郭悦淇Linda
2  高17级1班  王一尘Robert
3  高17级1班    潘柏羽Panl
4  高17级1班   马一菲Alisa

In [13]:
df.loc[3:4] #定位的是标签

   年级      班级        姓名   入学年        学号 性别
3  高三  高17级1班   潘柏羽Panl  2017  16110156  男
4  高三  高17级1班  马一菲Alisa  2017  16110251  女

In [14]:
df.loc[:,['班级','姓名']].head(10)

       班级          姓名
0  高17级1班      阮琦Rita
1  高17级1班    郭悦淇Linda
2  高17级1班   王一尘Robert
3  高17级1班     潘柏羽Panl
4  高17级1班    马一菲Alisa
5  高17级1班     王茗艳Mary
6  高17级1班     杨小佳Gina
7  高17级1班    徐梁轩Allen
8  高17级1班    胡骏龙Peter
9  高17级1班  崔子杰Charlie

In [15]:
df.loc[1:3,[]]

Empty DataFrame
Columns: []
Index: [1, 2, 3]

In [ ]:
import os
os.chdir(r'/Users/wangxiang/Desktop')
import numpy as np
import pandas as pd
import random

filenam=input('excel文件名是什么呢，带后缀哦') 
sheetnam=input('那个工作簿的名字是什么呢')
numbe=int(input('要抽取的数量是多少呢'))

randomselection(filenam,sheetname,numbe)

def randomselection (filename,sheetname,number):
    dff=pd.read_excel(filename,encoding='utf-8',sheet_name = sheetname)#打开文件
    #生成随机数
    dfff = pd.DataFrame()
    list1 = []
    for i in range(number):
        rannum=int(random.random()*df.shape[0])
        
        dfff=dfff.append(dff.loc[rannum],ignore_index=True)      
        
        list1.append(rannum)
        
    
    
    print('随机数是:')
    print(list1)
    #保存文件
    dfff.to_excel('随机结果.xlsx',index=False,sheet_name='one')
   
#randomselection ('Student_Information.xls','更新学生信息数据',10)

In [ ]:
df.shape[0]#获取行数

In [18]:
df.shape[1]#获取列数

6

In [19]:
print(df.loc[2])

年级            高三
班级        高17级1班
姓名     王一尘Robert
入学年         2016
学号      16110200
性别             男
Name: 2, dtype: object

In [23]:
df.loc[1:3,['班级','姓名']] #对行和列都做限制

       班级         姓名
1  高17级1班   郭悦淇Linda
2  高17级1班  王一尘Robert
3  高17级1班    潘柏羽Panl

In [25]:
df.loc[df.学号==18110176,['学号','姓名']]

           学号        姓名
419  18110176  刘梵霖 Joel

In [27]:
df.loc[(df.学号==18110176) | (df.性别=='女'),['学号','姓名']]

           学号                姓名
0    16110276            阮琦Rita
1    16110230          郭悦淇Linda
4    16110251          马一菲Alisa
5    16110223           王茗艳Mary
6    16110157           杨小佳Gina
13   16110147          梁言Rachel
14   16110207           李欣艺Iris
18   16110282          唐一鸣Ethel
20   16110283         陈雪阳Sharon
22   16110141         王遥 Angela
27   16110184           徐薇娜Mina
29   16110182           段维真Judt
31   16110117          计宛彤Jenny
37   16110130       刘琬璐Isabella
38   16110109            刘畅Luna
41   16110120          李奕葳Clare
46   16110107          吴倍萌Cindy
48   16110278               赵珈莹
50   16110172           胡思雅Tina
52   16110102            聂怡凡Eva
53   16110236          孙梦阳Sissi
54   16110196         朱羽菲 Jenny
57   16110138           王文紫卉Sue
58   16110239         佟佳颐Trista
60   16110105          孟思彤Kelly
62   16110189          郭豪Gloria
65   16110222          赵晓闻Wendy
66   16110166          张思楠Nancy
70   16110210         刘笑盈regina
72   16110191            陈曦Tina
..        ...               ...
487  17150268          张灵竹Grace
492  17150279        韩露仪Cynthia
494  17150267           卢茶燕Lucy
498  17150270       刘宇珏Virginia
500  17150269          周恺轶Tracy
501  17150119         奥欣谕Olivia
503  17150125           倪梓恬Tina
507  17150112         刘斯庸Cellia
508  17150124        王彤羽Crystal
510  17150276          雷佳楠Nancy
511  17150117    魏暄雯Jessica Wei
512  17150102           王米拉Mila
513  17150108           胡诗琪Gina
514  17150273  张嘉颐Jessica Zhang
516  16070190         宋嘉宁 -Lily
521  16070142         陈思彤-Tanya
529  16070126          赵欣然-Jill
533  16070137         刘家萁-Cindy
537  16070267        邢瑞祺-Rachel
538  18110257          张雅涵Cathy
539  18110247           朱淼Wendy
540  18110243        高元熙  Angel
546  18110261         赵毓子Spring
548  18110249           孙雨涵Anna
549  18110244        王嘉琪Allison
550  18110248          于艺童Jenny
553  18110245          方晗语Milly
554  18110251        汤懿萱Tiffany
555  18110253          耿嘉悦Susan
556  18110254          戴乐萱Linda

[237 rows x 2 columns]

In [28]:
df.iloc[1:3] #按照位置

   年级      班级         姓名   入学年        学号 性别
1  高三  高17级1班   郭悦淇Linda  2016  16110230  女
2  高三  高17级1班  王一尘Robert  2016  16110200  男

In [29]:
df.iloc[:,1:4]

         班级                 姓名   入学年
0    高17级1班             阮琦Rita  2016
1    高17级1班           郭悦淇Linda  2016
2    高17级1班          王一尘Robert  2016
3    高17级1班            潘柏羽Panl  2017
4    高17级1班           马一菲Alisa  2017
5    高17级1班            王茗艳Mary  2016
6    高17级1班            杨小佳Gina  2016
7    高17级1班           徐梁轩Allen  2016
8    高17级1班           胡骏龙Peter  2016
9    高17级1班         崔子杰Charlie  2017
10   高17级1班             潘孟骐Sam  2017
11   高17级1班            惠俊皓Tony  2016
12   高17级1班     丁羽晨 Dylan Ding  2016
13   高17级1班           梁言Rachel  2016
14   高17级1班            李欣艺Iris  2016
15   高17级1班         江雪鲲 Arnold  2016
16   高17级1班          任之杰 Tiger  2016
17   高17级1班            薛博鸿Bill  2016
18   高17级1班           唐一鸣Ethel  2017
19   高17级1班          吴弼潭Victor  2016
20   高17级1班          陈雪阳Sharon  2017
21   高17级1班           金子越Felix  2017
22   高17级1班          王遥 Angela  2017
23   高17级1班             于道阳Rex  2017
24   高17级1班          邓铭章Damien  2017
25   高17级2班            李自航Mike  2016
26   高17级2班           杨知新shine  2016
27   高17级2班            徐薇娜Mina  2016
28   高17级2班             刘正源Ray  2018
29   高17级2班            段维真Judt  2017
..      ...                ...   ...
529  高18级1班           赵欣然-Jill  2016
530  高18级1班            杨景森-Sam  2016
531  高18级1班          张泽曦-Jason  2016
532  高18级1班           洪亮-Jerry  2016
533  高18级1班          刘家萁-Cindy  2016
534  高18级1班            王珏-Rich  2016
535  高18级1班          刘瀚文-Chris  2016
536  高18级1班       贾墨川-Alex Jia  2016
537  高18级1班         邢瑞祺-Rachel  2016
538  高18级2班           张雅涵Cathy  2018
539  高18级2班            朱淼Wendy  2018
540  高18级2班         高元熙  Angel  2018
541  高18级2班          董泽宇Gluten  2018
542  高18级2班         程兆煜Charlie  2018
543  高18级2班  张简之Jiangzhi Zhang  2018
544  高18级2班            蒋京涛Evan  2018
545  高18级2班          唐恺辰 Kevin  2018
546  高18级2班          赵毓子Spring  2018
547  高18级2班           王恺Steven  2018
548  高18级2班            孙雨涵Anna  2018
549  高18级2班         王嘉琪Allison  2018
550  高18级2班           于艺童Jenny  2018
551  高18级2班             董泓坤Jim  2018
552  高18级2班           姜紫珩Jacob  2018
553  高18级2班           方晗语Milly  2018
554  高18级2班         汤懿萱Tiffany  2018
555  高18级2班           耿嘉悦Susan  2018
556  高18级2班           戴乐萱Linda  2018
557  高18级2班          陈希林 Bruce  2018
558  高18级2班             陈天烨Eli  2018

[559 rows x 3 columns]

In [30]:
df.iloc[[1,10],[0,2]]#锁定第二行和第十一行（不要中间的），第一列和第三列

    年级        姓名
1   高三  郭悦淇Linda
10  高三    潘孟骐Sam

In [31]:
#Comparison of iloc and loc 
df.loc[2:7] #按照标签来看的

   年级      班级         姓名   入学年        学号 性别
2  高三  高17级1班  王一尘Robert  2016  16110200  男
3  高三  高17级1班    潘柏羽Panl  2017  16110156  男
4  高三  高17级1班   马一菲Alisa  2017  16110251  女
5  高三  高17级1班    王茗艳Mary  2016  16110223  女
6  高三  高17级1班    杨小佳Gina  2016  16110157  女
7  高三  高17级1班   徐梁轩Allen  2016  16110193  男

In [32]:
df.iloc[2:7] #按照顺序和位置来看的

   年级      班级         姓名   入学年        学号 性别
2  高三  高17级1班  王一尘Robert  2016  16110200  男
3  高三  高17级1班    潘柏羽Panl  2017  16110156  男
4  高三  高17级1班   马一菲Alisa  2017  16110251  女
5  高三  高17级1班    王茗艳Mary  2016  16110223  女
6  高三  高17级1班    杨小佳Gina  2016  16110157  女